.home {
  width: 100%;
  max-width: 1200px;
  left: 50%;
  transform: translate(-50%, 0%);
  /* background-color: rgb(151, 33, 33); */
  position: fixed;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding-top: 130px;
}

.homeContainer {
  gap: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/* 도트의 스타일 변경 */
/* .slick-dots li button:before {
} */

/* 활성화된 도트의 스타일 변경 */
.slick-dots li.slick-active button:before {
  color: #226699;
}

@media (max-width: 800px) {
  .home {
    padding-top: 120px;
  }
}

@media (max-width: 600px) {
  .home {
    padding-top: 110px;
  }
}
